body{
	margin: 0;
	padding: 0;
	background: url(https://images.pexels.com/photos/450066/pexels-photo-450066.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.loginbox{
	width: 320px;
	height: 320px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
	